@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

button {
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.093);
    border-radius: 5px;
    margin: 2px;
    border-width: 0px;
    cursor: pointer;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

body {
    background: linear-gradient(90deg, #3e4e93, #6d3c84);
    font-family: Roboto Mono, "monospace";
}

h1, h3 {
    color: white;
}

#stopBtn {
    margin-bottom: 10px;
    font-size: larger;
    background-color: rgba(255, 55, 55, 0.586);
}